<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>jianghu.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>017A69F31FADD56C00B18FE9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>017A6A0C1FADD56C00B18FE9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>017A6A171FADD56C00B18FE9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
